/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: rgba(255, 255, 255, 0.85); text-shadow: none; }
::selection { background: #fe57a1; color: rgba(255, 255, 255, 0.85); text-shadow: none; }

a { color: black; text-decoration: none; }
a:visited { color: black; }
a:hover { color: #44A200; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Xhacker Liu
   ========================================================================== */
body {
  width: 700px;
  margin: auto;
  padding: 72px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, "Hiragino Sans GB", "Source Han Sans CN", sans-serif;
  font-size: 17px;
  line-height: 1.6em;
}

a {
  border-bottom: 1px dotted;
  border-color: #aaa;
}

h1 {
  margin-top: 0;
  font-size: 1.55em;
  line-height: 1.1em;
}

strong {
  font-weight: 600;
}

table {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}
th, td {
  padding: 6px 14px;
}
td {
  border: 1px solid #ddd;
}
td.advantage {
  background-color: rgba(144, 209, 36, 0.3);
}

body > h1 a {
  border: none;
}
body > h1 a:link,
body > h1 a:visited {
  color: #ddd;
}
body > h1 a:hover {
  color: #999;
}

.hang {
  margin-left: -0.64em;
}

article h1 {
  margin: 2.3em 0 1.15em 0;
  font-size: 1.14em;
  font-weight: normal;
}

article h1 a {
  border: none;
}

article h2 {
  font-size: 1.1em;
  margin-top: 1.15em;
  margin-bottom: 0.3em;
}

article img {
  display: block;
  border: 1px solid #ddd;
  margin: 2em auto;
}

article .content {
  padding-left: 1.2em;
}

article .content blockquote {
  margin-left: 1.7em;
  font-family: Georgia, "Songti SC", serif;
}

article .content a {
  font-weight: bold;
}

article .content ul {
  padding-left: 1.4em;
}

article .content .footnotes {
  border-top: 1px solid #ccc;
}

article .content .comment {
  color: #999;
}

article footer {
  font-size: 0.86em;
  text-align: right;
  padding-right: 0.8em;
  color: #888;
}

article #disqus_thread {
  margin-top: 1.4em;
}

#previous {
  margin-top: 1em;
  font-size: 1.07em;
}

body > footer {
  font-size: 0.85em;
  line-height: 1.65em;
  text-align: right;
  margin-top: 2.15em;
  padding-right: 0.8em;
  color: #888;
}

body > footer p {
  margin: 0;
}

/* Special Posts */

article .content ul.io,
article .content ul.moments {
  list-style: none;
  padding-left: 4px;
}

article .content ul.moments ul {
  margin: 0;
  padding-left: 1.7em;
}

article .content ul.io li:first-letter {
  font-family: Menlo, Monaco, "DejaVu Sans Mono", monospace;
  font-weight: bold;
  margin-right: 6px;
}

article .content ul.moments li .month {
  font-weight: bold;
  margin-right: 6px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-device-width: 480px) {
  html {
    width: 100%;
  }

  body {
    width: auto;
    padding: 20px 15px;
    font-size: 17px;
    line-height: 26px;
  }

  a {
    border-bottom: 1px dotted;
    border-color: #bbb !important;
  }

  table {
    overflow-x: auto;
    display: block;
    font-size: 0.9em;
  }
  th, td {
    padding: 3px 6px;
  }

  article h1 {
    font-size: 19px;
    line-height: 24px;
  }

  article h2 {
    font-size: 18px;
    margin-top: 11px;
    margin-bottom: -8px;
  }

  article .content {
    padding-left: 7px;
  }

  article .content blockquote {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  }

  article .content ul {
    padding-left: 23px;
  }

  article img {
    max-width: 100%;
    margin: 1em auto;
  }

  footer {
    font-size: 14px;
  }
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
